<div class="container-fluid main-content">
    <div class="row">
        <section class= "col-md-12">
            <div class="mt-3 mb-3">
                <h3>Product List</h3>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Quantity in Kgs</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>let i = index" (click)="selectProduct(i)" [ngClass]="rowIndex == i ? 'active' : ''"
                    <tr *ngFor="let product of products >
                        <td>{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productDescription}}</td>
                        <td>{{product.createdDate}}</td>
                        <td>{{product.unitPrice}}</td>
                        <td>{{product.quantity}}</td>
                        <td>  
                            <p *ngIf="product.quantity < 50">Low inventory </p>
                            <p *ngIf="product.quantity > 50">Suffiecient inventory level</p>
                         </td>
                         <td colspan="3">
                            <button type="button" [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-primary"><i class="fa fa-eye"></i></button>
                            <button type="button"  [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-success"><i class="fa fa-pencil-square-o"></i></button>
                          <button type="button"  [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                         </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
