<div class="container-fluid main-content">
    <div class="row">
        <section class= "col-md-12">
            <div class="mt-3 mb-3">
                <h3>Product List</h3>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Quantity in Kgs</th>
                        <th scope="col">Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{firstProductItemName}}</td>
                        <td>White Basmathi Rice imported from pakistan</td>
                        <td>2022.01.20</td>
                        <td>{{2*148}}</td>
                        <td>{{getPriceofRice()}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Flour</td>
                        <td>Super FIne Whole grain general Purpose flour</td>
                        <td>2022.01.20</td>
                        <td>50</td>
                        <td>190</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sugar</td>
                        <td>White sugar manufactured by Palwatte Factory</td>
                        <td>2022.01.20</td>
                        <td>1200</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Dhal</td>
                        <td>Imported mysoor dhal from India</td>
                        <td>2022.01.20</td>
                        <td>120</td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>