<div class="container-fluid main-content">
    <div class="row">
        <section [ngClass]="showAddProduct? 'col-md-7': 'col-md-12'">
            <div class="product-header">
                <h1>Product List</h1>
                <button *ngIf="!showAddProduct" type="button" class="btn btn-outline-primary" (click)="showAddProducts()">Add Product</button>
                <button *ngIf="showAddProduct" type="button" class="btn btn-outline-primary" (click)="hideAddProducts()">Close Products</button>
            </div>
            <table class="table">
                <thead class="thead-light t-head">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Quantity in Kgs</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products let i = index" (click)="selectProduct(i)" [ngClass]="rowIndex == i ? 'active' : ''">
                        <td>{{product.id}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productDescription |contentLimiter}}</td>
                        <td>{{product.createdDate | date}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.unitPrice |currency:'Rs.'}}</td>
                        
                        <td>  
                            <p *ngIf="product.quantity <= 50">Low inventory </p>
                            <p *ngIf="product.quantity > 50">Suffiecient inventory level</p>
                         </td>
                         <td colspan="3">
                            <button type="button" [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-primary"><i class="fa fa-eye"></i></button>
                            <button type="button"  [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-success"><i class="fa fa-pencil-square-o"></i></button>
                          <button type="button"  [disabled]="rowIndex != i && !isRowSelected" class="btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                         </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-md-5" *ngIf="showAddProduct">
            <app-add-product></app-add-product>
        </section>
    </div>
</div>
